/**
 * -----------------------------------------------------------------------------
 * File: app
 * -----------------------------------------------------------------------------
 */

// Settings
@import 'config/colors';
@import 'config/global';
@import 'config/spaces';
@import 'config/typo';


// Helpers 
@import 'helpers/normalize';
@import 'helpers/flexbox';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/spaces';
@import 'helpers/utilities';


// Typo
@import 'typo/webfonts';
@import 'typo/mixins';
@import 'typo/helpers'; 


// Components
@import 'components/animations';
@import 'components/anchors';
@import 'components/blocks';
@import 'components/boxes/global';
@import 'components/boxes/ratio';
@import 'components/buttons/global';
@import 'components/buttons/info';
@import 'components/buttons/scroll';
@import 'components/collapsible';
@import 'components/icons/global';
@import 'components/icons/browse';
@import 'components/icons/document';
@import 'components/icons/menu';
@import 'components/headings/global';
@import 'components/headings/h1';
@import 'components/headings/h2';
@import 'components/logo';
@import 'components/images';
@import 'components/overlay/global';
@import 'components/overlay/info';
@import 'components/underline/global';
// Layout
@import 'layout/base';
@import 'layout/main';
@import 'layout/grid';
@import 'layout/sections';
@import 'layout/header';
@import 'layout/footer';


// Menu
@import 'menu/global';
@import 'menu/bar';
@import 'menu/footer';
@import 'menu/home';
@import 'menu/pages';
@import 'menu/page';

// Vendor
@import 'vendor/fancybox/fancybox';
@import 'vendor/fancybox/fancybox-custom';


// Views
@import 'views/discourse';
@import 'views/home';
@import 'views/jobs';
@import 'views/project';
@import 'views/team';
@import 'views/works';