/**
 * -----------------------------------------------------------------------------
 * File: components/icons/document
 * -----------------------------------------------------------------------------
 */

.icon-document {
  @extend %icon-ib;
  @extend %icon-bg;
  background-image: url($url-images + 'document.svg');
  background-size: 15px 20px;
  background-position: center left;
  padding-left: 25px;
}

.icon-document-blue {
  @extend %icon-ib;
  @extend %icon-bg;
  background-image: url($url-images + 'document-blue.svg');
  background-size: 12px 15px;
  background-position: top 2px left;
  color: $color-blue;
  margin-top: 3px;
  padding-left: 20px;

  &:hover {
    color: $color-blue;
  }

  @include bp-md() {
    background-size: 14px 18px;
    background-position: top left;
    padding-left: 24px;
  }
} 