/**
 * -----------------------------------------------------------------------------
 * File: components/icons/document
 * -----------------------------------------------------------------------------
 */

.icon-document {
  @extend %icon-ib;
  @extend %ul-sm-hover;
  margin-left: 25px;
  position: relative;

  &:before {
    background-image: url($url-images + 'document.svg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 20px;
    left: -25px;
    position: absolute;
    top: 4px;
    width: 15px;
  }
}

.icon-document-blue {
  align-items: flex-start;
  color: $color-blue;
  display: flex;
  text-decoration: none !important;

  svg {
    display: block;
    flex: none;
    height: 15px;
    margin-right: 7px;
    width: 12px;

    @include bp-md() {
      height: 18px;
      margin-right: 9px;
      width: 14px;
    }
  }

  div {
    span {
      @extend %ul-xs-blue-hover;
      color: $color-blue;
      display: inline;
    }
  }
}