/**
 * -----------------------------------------------------------------------------
 * File: components/icons/document
 * -----------------------------------------------------------------------------
 */

.icon-magnifier {
  @extend %icon-ib;
  @extend %icon-bg;
  background-image: url($url-images + 'magnifier.svg');
  background-size: 100% auto;
  box-shadow: none !important;
  height: 40px;
  width: 40px;
  position: relative;

  @include bp-sm() {
    height: 20px;
    width: 20px;
  }

  @include bp-md() {
    height: 22px;
    width: 22px;
  }

  @include bp-lg() {
    height: 24px;
    width: 24px;
  }
}