/**
 * -----------------------------------------------------------------------------
 * File: components/icons/menu
 * -----------------------------------------------------------------------------
 */

// Icon wrapper
.menu-icon {
  flex: 0 0 $icon-menu-width;
  position: relative;
  z-index: 200;
  @include bp-sm() {
    flex: 0 0 $icon-menu-width-sm;
  }
}

.icon-menu {
  @extend %icon;
  display: block;

  svg {
    display: block;

    &.icon-menu__open {
      height: 26px;
      width: $icon-menu-width;

      @include bp-sm() {
        height: 18px;
        width: $icon-menu-width-sm;
      }
    }
    
    &.icon-menu__close {
      height: 44px;
      width: $icon-menu-width;

      @include bp-sm() {
        height: 32px;
        width: $icon-menu-width-sm;
      }
    }
  }
}