/**
 * -----------------------------------------------------------------------------
 * File: views/contact
 * -----------------------------------------------------------------------------
 */

.contact {
  height: calc(100vh - #{$footer-height});
  overflow: hidden;

  .contact__info {
    height: calc(100vh - #{$footer-height});
    overflow-y: auto;
    padding: $space-sm $space-sm 0 $space-sm;

    @include bp-md() {
      height: calc(100vh - #{$footer-height});
      padding: $space-md $space-md 0 $space-md;
    }

    a {
      color: $color-blue;
      text-decoration: none !important;

      &[href*="//"]:not([href*="oxid.ch"]) {
        @extend %anchor-external-sm;
      }

      &[href*="mailto"],
      &[href*="javascript"], {
        @extend %ul-xs-blue-hover;
      } 
    }

    address {
      @include font-size($fs-xl);

      a[href*="mailto"],
      a[href*="tel"] {
        @extend %ul-sm-hover;
        color: $color-black;
      }

      a[href*="//"]:not([href*="oxid.ch"]) {
        @include font-size($fs-fix-md);
        @include bp-sm() {
          display: none;
        }
      }
    }

    > div {
      @include font-size($fs-sm);
      
      &:first-of-type {
        margin-top: $space-huge;
        margin-bottom: $space-xl;
        @include bp-sm() {
          margin-top: 30vh;
          margin-bottom: $space-huge;
        }
      }

      &:last-of-type {
        p {
          margin-bottom: $space-xl;
          &:last-of-type {
            margin-bottom: $space-xl !important;
          }
        }

        > div {
          margin-top: $space-md;
          @include bp-md() {
            margin-top: $space-xl;
          }
        }
      }
      
      h3 {
        @include font-size($fs-sm);
        @include font-bold();
      }
    }
  }

  .contact__map {
    display: none;
    @include bp-sm() {
      height: calc(100vh - #{$footer-height});
      display: block;
    }
  }
}