/**
 * -----------------------------------------------------------------------------
 * File: views/history
 * -----------------------------------------------------------------------------
 */

nav.menu-page {

  .menu-history {

    h2, a {
      @include font-size($fs-xl);
    }

    h2 {
      @extend %ul-sm;
      display: inline-block;
      margin-bottom: $space-lg;
    }

    label {
      @include font-size($fs-sm);
    }

    li {
      margin-bottom: $space-xl;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    a {
      @extend %ul-sm-hover;
    }

  }
}

.no-cssgrid {
  .history {

    article {
      display: flex;
      > div {
        flex: 50%;
        &:first-of-type {
          padding-right: $grid-gap-sm;
        }
      }
    }

    .history__item {
      .grid {
        display: flex;
        @include bp-sm() {
          > div {
            flex: 50%;
            &:first-of-type {
              padding-right: $grid-gap-sm;
            }
          }
        }
      }
    }
  }
}

.cssgrid {
  .history {

    article {
      @include bp-sm() {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $grid-gap-sm;
      }    
    }

    .history__item {
      .grid {
        @include bp-sm() {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: $space-md;
          grid-row-gap: $space-lg;
        }
      }
    }
  }
}

.history {
  padding: $space-sm;
  
  @include bp-md() {
    padding: $space-md;
  }

  .history__period {
    margin-bottom: 60px;

    &.is-last {
      margin-bottom: 20px;
    }
    
    @include bp-sm() {
      margin-bottom: 180px;
      &.is-last {
        margin-bottom: 80px;
      }
      
    }
  } 

  h2 {
    @include font-size($fs-xl);
    margin-bottom: $space-sm;
    @include bp-md() {
      margin-bottom: $space-lg;
      max-width: 50%;
    }
  }

  h3 {
    border-bottom: 1px solid $color-black;
    @include font-size($fs-md);
    margin-bottom: $space-sm;
    padding-bottom: $space-xs;
    @include bp-md() {
      margin-bottom: $space-lg;
    }
  }

  .align-right-md {
    @include bp-sm() {
      display: flex;
      justify-content: flex-end;
    }
  }

  .history__item {
    margin-bottom: $space-lg;

    p {
      @extend %word-break;
    }

    h4 {
      display: block;
      @include font-size($fs-md);
    }

    .grid {
      > div {
        margin-bottom: $space-lg;
      }

      @include bp-sm() {
        > div {
          margin-bottom: 0;
        }
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: $space-md;
        grid-row-gap: $space-lg;
      }
    }

    .history__portrait {
      @include font-size($fs-sm);
      margin-bottom: $space-md;

      p {
        margin-bottom: $space-xs;

        @include bp-sm() {
          margin-bottom: $space-sm;
        }
      }
    }
  }

  // images
  figure {
    figcaption {
      border-bottom: 1px solid $color-dark;
      display: flex;
      @include font-size($fs-sm);
      padding: $space-xxs 0;
    }
  }

  figure.portrait {
    width: 65%;
  }

  // spaces
  .mb-md {
    margin-bottom: $space-md !important;
  }

  .mt-md {
    margin-top: $space-md;
  }

  .mt-xl {
    @include bp-sm() {
      margin-top: $space-xl;
    }
  }

  .mt-xxl {
    @include bp-sm() {
      margin-top: $space-xxl;
    }
  }

  .mt-huge {
    @include bp-sm() {
      margin-top: $space-huge;
    }
  }
  
  .mt-mega {
    @include bp-sm() {
      margin-top: $space-mega;
    }
  }

  .mt-giga {
    @include bp-sm() {
      margin-top: $space-gigantic;
    }
  }

  .mt-ultra {
    @include bp-sm() {
      margin-top: $space-ultra;
    }
  }

  .mt-giga-neg {
    @include bp-sm() {
      margin-top: -$space-gigantic;
    }
  }
}