/**
 * -----------------------------------------------------------------------------
 * File: views/home
 * -----------------------------------------------------------------------------
 */

section.content-home {
  padding-bottom: $footer-height;
  @include responsive-prop('padding-top', $header-height);
  
  @include bp-sm() {
    padding-bottom: 0;
    padding-top: 0 !important;
  }
}

.news-listing {
  padding: $space-sm;
  position: relative;

  @include bp-sm() {
    display: block;
    height: calc(100vh - (#{$header-height-sm} + #{$footer-height} + 55px));
    overflow-y: auto;
    padding-bottom: $footer-height;
    top: calc(55px + #{$header-height-sm});
    -webkit-overflow-scrolling: touch;
  }

  @include bp-md() {
    height: calc(100vh - (#{$header-height-md} + #{$footer-height} + 65px));
    top: calc(65px + #{$header-height-md});
  }

  @include bp-lg() {
    height: calc(100vh - (#{$header-height-lg} + #{$footer-height} + 75px));
    top: calc(75px + #{$header-height-lg});
  }

  article {
    margin-bottom: $space-xl;
    max-width: 700px;

    &:last-of-type {
      margin-bottom: 0;
    }

    header {
      margin-bottom: $space-tiny;
    }

    h2 {
      @extend %ul-sm;
      @include font-size($fs-xl);
      display: inline-block;
    }

    h3 {
      @include font-size($fs-xl);
    }

    p {
      margin-bottom: $space-sm;
    }

    a {
      @extend %anchor-external-lg;
    }
  }
}