/**
 * -----------------------------------------------------------------------------
 * File: views/project
 * -----------------------------------------------------------------------------
 */

.project {
  @include bp-xl() {
    max-width: 90%;
  }

  h1 {
    @include bp-sm() {
      max-width: calc(100% - 44px);
    }
  }

  .project__info {
    @include font-size($fs-sm);
    margin-top: $space-md;
    max-width: 640px;
    
    @include bp-md() {
      margin-top: $space-xl;
    }
  }

  a[href*="//"]:not([href*="oxid.ch"]) {
    @extend %anchor-external-sm;
    @extend %ul-xs-blue-hover;
  }

  .icon-document {
    display: none;
    @include bp-md() {
      display: inline-block;
    }
  }
}

.project-grids {
  position: relative;

  [class^='project-grid-'] {

    figure {
      margin-bottom: $grid-gap-sm;
      @include bp-sm() {
        margin-bottom: 0;
      }
    }
  }

  @include bp-sm() {
    [class^='project-grid-'] {
      margin-bottom: $grid-gap-sm;
      &:last-child {
        margin-bottom: 0 !important;
      }
    }
  }
}


.no-cssgrid {
  .project-grids {
 
    @include bp-sm() {
  
      [class^='project-grid-'] {
        display: flex;
        > div,
        > figure {
          flex: 50%;
        }
      }
  
      .project-grid-1 {
        > div,
        > figure {
          flex: 100%;
        }
      }
    
      .project-grid__stack {
        margin-bottom: $grid-gap-sm;
      }
    }
  }
}

.cssgrid {
  .project-grids {
 
    @include bp-sm() {
  
      [class^='project-grid-'] {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $grid-gap-sm;
      }
  
      .project-grid-1 {
        grid-template-columns: 1fr;
      }
    
      .project-grid__stack {
        display: grid;
        grid-row-gap: $grid-gap-sm;
      }
    }
  }
}

// Project teaser (mobile only)
.project-teaser {
  border-top: 1px solid $color-black;
  margin: $space-xl $space-md $space-md $space-md;
  padding-top: $space-xs;

  @include bp-sm() {
    display: none;
  }

  > div a {
    @extend %anchor-external-sm;
    margin-top: $space-xxs;
  }

  figure {
    display: block;
    max-width: 60%;
    margin-top: $space-xs;
    width: 100%;

    a {
      margin-top: 0;
    }
  }

  img {
    @extend %is-responsive;
  }
}

// Project teaser images
figure.project-teaser-image {
  height: 100%;
  display: none;
  height: calc(100vh - #{$footer-height});
  padding-left: $grid-gap-sm;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: calc(50% + (#{$grid-gap-sm}/2));
  transition: opacity .2s ease-in;
  
  @include bp-sm() {
    display: block;
  }

  &.is-visible {
    opacity: 1;
    z-index: 100;
    transition: opacity .1s ease-in;
  }

  img {
    @extend %object-fit-cover;
  }
}



// Project filter
nav {

  li.project-filter {
    display: flex;
    margin-bottom: $space-md;

    a {
      display: inline-block;
      @include font-size($fs-menu);
      margin-right: $space-sm;
    }
  }
}