/**
 * -----------------------------------------------------------------------------
 * File: views/team
 * -----------------------------------------------------------------------------
 */

.team-member {
  @include font-size($fs-fix-md);

  .team-member__heading {
    @include font-size($fs-fix-lg);
  }

  a[href^="mailto"],
  a[href^="tel"] {
    @extend %ul-xs-hover;
  }
}
