/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/close
 * -----------------------------------------------------------------------------
 */
 
.btn-close {
  @extend %btn;
  @extend %btn-bg;
  display: none;
  background-image: url($url-images + 'cross.svg');
  background-size: 100%;
  height: 44px;
  position: fixed;
  right: $space-md;
  top: $space-md;
  width: 44px;
  z-index: 1000;
  
  @include bp-sm() {
    display: block;
  }

  &.is-sm {
    display: block;
    height: 32px;
    position: relative;
    right: 0;
    top: 0;
    width: 32px;
    @include bp-sm() {
      display: none;
    }
  }
}