/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/dropdown
 * -----------------------------------------------------------------------------
 */

.btn-dropdown {
  @extend %btn;
  @extend %btn-bg;
  background-image: url($url-images + 'chevron-down-sm.svg');
  background-size: 40px 20px;
  background-position: center right;
  width: 100%;
  &.is-active {
    background-image: url($url-images + 'chevron-up-sm.svg');
  }
}