/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/scroll
 * -----------------------------------------------------------------------------
 */

.btn-scroll {
  @extend %btn;
  @extend %btn-bg;
  display: none;
  background-size: 76px 40px;
  height: 50%;
  position: fixed;
  left: 0;
  transition: background-position .1s ease-out;
  width: 100%;
  z-index: 100;

  @include bp-sm() {
    display: block;
  }

  &.is-prev {
    background-image: url($url-images + 'chevron-up.svg');
    background-position: top 20px center;
    top: 0;

    &:hover {
      background-position: top 15px center;
    }
  }

  &.is-next {
    background-image: url($url-images + 'chevron-down.svg');
    background-position: bottom 80px center;
    top: 50%;
    &:hover {
      background-position: bottom 75px center;
    }
  }
}