/**
 * -----------------------------------------------------------------------------
 * File: components/buttons/scroll
 * -----------------------------------------------------------------------------
 */

.btn-scroll {
  @extend %btn;
  @extend %btn-bg;
  display: none;
  background-size: 100%;
  height: 40px;
  position: fixed;
  left: calc(50% - 38px);
  transition: transform .1s ease-out;
  width: 76px;

  @include bp-sm() {
    display: block;
  }

  &.is-prev {
    background-image: url($url-images + 'chevron-up.svg');
    top: 20px;
    &:hover {
      transform: translateY(-2px)
    }
  }

  &.is-next {
    background-image: url($url-images + 'chevron-down.svg');
    bottom: 80px;
    &:hover {
      transform: translateY(2px)
    }
  }
}