/**
 * -----------------------------------------------------------------------------
 * File: app
 * -----------------------------------------------------------------------------
 */

// Settings
@import 'config/colors';
@import 'config/global';
@import 'config/spaces';
@import 'config/typo';

// Helpers 
@import 'helpers/normalize';
@import 'helpers/flexbox';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/spaces';
@import 'helpers/utilities';

// Typo
@import 'typo/webfonts';
@import 'typo/mixins';
@import 'typo/helpers'; 

// Components
@import 'components/headings/global';
@import 'components/headings/h1';
@import 'components/headings/h2';
@import 'components/underline/global';

// Layout
@import 'layout/base';
@import 'layout/main';
@import 'layout/header';

