/**
 * -----------------------------------------------------------------------------
 * File: component/headings/h1
 * -----------------------------------------------------------------------------
 */

h1 {
  @include font-size($fs-lg);
  margin-bottom: $space-xxs;

  span {
    @extend %ul-sm;
  }
}