/**
 * -----------------------------------------------------------------------------
 * File: component/headings/h2
 * -----------------------------------------------------------------------------
 */

h2 {
  @include font-size($fs-xl);
  margin-bottom: $space-xxs;
  @include bp-sm() {
    margin-bottom: $space-xxl;  
  }
}