/**
 * -----------------------------------------------------------------------------
 * File: component/headings/global
 * -----------------------------------------------------------------------------
 */

h1, h2, h3 {
	@include font-regular();
  @include font-size($fs-md);
  margin: 0;
}
