/**
 * -----------------------------------------------------------------------------
 * File: component/overlay/info
 * -----------------------------------------------------------------------------
 *
 */

.overlay-info {
  @extend %overlay;

  &.is-discourse {
    z-index: 1001;
  }

  h1, h2 {
    @include font-size($fs-xl);
    margin-bottom: $space-xl;
  }

  h3 {
    @extend %ul-sm;
    @include font-size($fs-sm);
    display: inline-block;
    margin-bottom: $space-md;
  }
}