/**
 * -----------------------------------------------------------------------------
 * File: component/overlay/info
 * -----------------------------------------------------------------------------
 *
 */

.overlay-info {
  @extend %overlay;

  &.is-discourse {
    z-index: 1001;
  }

  // @include bp-sm() {
  //   &[data-visible-onload].is-visible {
  //     transition: transform 0s ease-out !important;
  //   }
  // }

  h1, h2 {
    @include font-size($fs-xl);
    margin-bottom: $space-xl;
  }

  h3 {
    @extend %underline-sm;
    @include font-size($fs-sm);
    margin-bottom: $space-md;
  }
}