/**
 * -----------------------------------------------------------------------------
 * File: components/headings/h3
 * -----------------------------------------------------------------------------
 */

h3 {
    margin-bottom: 5px;
}