/**
 * -----------------------------------------------------------------------------
 * File: layout/container
 * -----------------------------------------------------------------------------
 */

.container {
    //@include responsive-prop('padding-top', $header-heights);
}

.container-auth {
    @extend %v-center;
    @include background-default();
    // The image is a random home image, set in backend/app.blade.php
    background-color: $color-light-grey;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}
