/**
 * -----------------------------------------------------------------------------
 * File: components/upload/listing
 * -----------------------------------------------------------------------------
 */

.upload-listing-rows {
  border-top: $border-width solid $color-light-grey;

  margin-bottom: 50px;
  
  .upload-item-row {
    align-items: center;
    border-bottom: $border-width solid $color-light-grey;
    cursor: move;
    display: flex;
    justify-content: space-between;
    padding: 5px 0 5px 2px;

    figure {

      img {
        background-color: $color-light-grey;
        display: inline-block;
        display: block;
        height: auto;
        width: 50px;
      }
    }

    div {

    }
  }
}