/**
 * -----------------------------------------------------------------------------
 * File: components/upload/overlay
 * -----------------------------------------------------------------------------
 */
 
.upload-overlay {
  background-color: rgba(255,255,255,.98);
  color: $color-dark;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  overflow-y: auto;
  padding: 40px;
  position: fixed;
  pointer-events: none;
  transition: opacity .16s ease-out;
  top: 0;
  width: 100%;
  z-index: 101;

  &.is-visible {
    opacity: 1;
    pointer-events: all;
    transition: opacity .16s ease-out;
    z-index: 101;
  }

  * {
    color: $color-dark;
  }

  > div {
    @extend %page-block;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 35px;
    padding-top: 60px;
    position: relative;
  }

  figure {
    border: 2px solid $color-light-grey;
    display: block;
    width: 100%;

    figcaption {
      padding: 0 10px 10px 10px;

      span {
        display: block;
      }
    }

    img {
      background-color: $color-white;
      display: block;
      height: auto;
      padding: 10px !important;
      width: 100% !important;
    }
  }

  .btn-secondary {
    color: $color-white;
  }
}