/**
 * -----------------------------------------------------------------------------
 * File: component/anchors
 * -----------------------------------------------------------------------------
 *
 */

a, 
a:hover {
  color: $color-black;
  text-decoration: underline;

  &.is-active,
  &:hover {
    text-decoration: none;
  }
}

%anchor,
.anchor {
  color: $color-blue;
  text-decoration: none;
}

%anchor-ul,
.anchor-ul {
  @extend %ul-sm-hover;
}

%anchor-external {
  @extend %anchor;
  @extend %icon-ib;
  color: $color-blue;
  position: relative;

  &:hover {
    color: $color-blue;
  }

  &:after {
    background-image: url($url-images + 'arrow-blue.svg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    position: absolute;
  }
}

%anchor-external-sm {
  @extend %anchor-external;
  margin-right: 14px;

  @include bp-md() {
    margin-right: 16px;
  }

  &:after {
    height: 9px;
    right: -14px;
    top: 6px;
    width: 9px;

    @include bp-md() {
      height: 10px;
      right: -16px;
      top: 7px;
      width: 10px;
    }
  }
}

%anchor-external-md {
  @extend %anchor-external;
  margin-right: 16px;

  &:after {
    height: 10px;
    right: -16px;
    top: 8px;
    width: 10px;
  }
}

%anchor-external-lg {
  @extend %anchor-external;
  margin-right: 16px;

  @include bp-sm() {
    margin-right: 17px;
  }

  @include bp-md() {
    margin-right: 19px;
  }

  @include bp-md() {
    margin-right: 21px;
  }

  &:after {
    height: 10px;
    right: -16px;
    top: 6px;
    width: 10px;

    @include bp-sm() {
      height: 11px;
      right: -17px;
      top: 8px;
      width: 11px;
    }

    @include bp-md() {
      height: 12px;
      right: -19px;
      top: 9px;
      width: 12px;
    }

    @include bp-lg() {
      height: 14px;
      right: -21px;
      top: 10px;
      width: 14px;
    }
  }

}

%anchor-arrow-inline {
  display: inline-block;
  color: $color-blue;
  @include font-size($fs-fix-md);

  @include bp-sm() {
    align-items: center;
    display: flex;
  }

  svg {
    display: inline-block;
    height: 11px;
    padding-top: 1px;
    margin-left: $space-xxs;
    width: auto;
  }
}
