/**
 * -----------------------------------------------------------------------------
 * File: component/anchors
 * -----------------------------------------------------------------------------
 *
 */

a, 
a:hover {
  color: $color-black;

  &.is-active,
  &:hover {
    text-decoration: underline;
  }
}

%anchor,
.anchor {
  color: $color-blue;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

%anchor-ul,
.anchor-ul {
  text-decoration: underline;
  &:hover {
    text-decoration: none !important;
  }
}

%anchor-external,
.anchor-external {
  @extend %anchor;
  @include background-default();
  background-image: url($url-images + 'arrow-blue.svg');
  background-position: bottom 3px right;
  background-size: 11px auto;
  display: inline-block;
  padding-right: 17px;

  @include bp-sm() {
    background-position: bottom 4px right;
    background-size: 12px auto;
    padding-right: 19px;
  }

  @include bp-md() {
    background-size: 14px auto;
    background-position: bottom 4px right;
    padding-right: 22px;
  }

  @include bp-lg() {
    background-size: 15px auto;
    background-position: bottom 5px right;
  }
}

%anchor-external-sm {
  @extend %anchor-external;
  background-size: 10px auto;
  background-position: center right;
  padding-right: 15px;
}
