/**
 * -----------------------------------------------------------------------------
 * File: component/blocks
 * -----------------------------------------------------------------------------
 *
 */

%inner-block,
.inner-block {
  margin-left: auto;
  margin-right: auto;
  position: relative;

  @include bp-sm() {
    max-width: $page-max-width;
  }
}
