/**
 * -----------------------------------------------------------------------------
 * File: components/logo
 * -----------------------------------------------------------------------------
 */

.logo {
  display: block;
  
  img {
    display: block;
    height: 67px;
    width: 175px;

    @include bp-md() {
      height: 70px;
      width: 186px;
    }

    @include bp-lg() {
      height: 90px;
      width: 235px;
    }
  }
}

.logo-byline {
  text-align: right;
  width: 100%;

  @include bp-md() {
    margin-top: -10px;
  }

  img {
    display: inline-block;
    height: 35px;
    width: 226px;

    @include bp-md() {
      height: 44px;
      width: 300px;
    }
  }
}