/**
 * -----------------------------------------------------------------------------
 * File: layout/main
 * -----------------------------------------------------------------------------
 */

main {
  position: relative;
}

section {

  @include bp-sm() {
    display: grid;
    height: calc(100vh - 200px);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0;
  }
}

a:not(.lang) {
  align-items: center;
  color: $color-black;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  height: calc(50vh - 90px);

  @include bp-sm() {
    height: auto;
  }

  &.content-oxid {
    background-color: $color-blue;
    text-align: center;
  }
  &.content-busu {
    background-color: $color-red;
    text-align: center;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include bp-sm() {
      padding: 0 20px;
    }
    @include bp-md() {
      padding: 0 40px;
    }
  }

  svg {
    display: inline-block;
    height: 28px;
    margin-top: $space-md;
    margin-left: auto;
    margin-right: auto;
    width: 28px;

    @include bp-sm() {
      height: 38px;
      margin-top: $space-huge;
      width: 38px;
    }
  }
}

a.lang {
  color: $color-black;
  @include font-size($fs-sm);
  right: $space-xs;
  position: absolute;
  top: $space-xs;
  text-decoration: none;

  @include bp-sm() {
    right: $space-md;
    position: absolute;
    top: $space-sm;
  }
}