/**
 * -----------------------------------------------------------------------------
 * File: layout/base
 * -----------------------------------------------------------------------------
 */

html {
	overflow-y: scroll;
	&.has-menu {
	}
}

html,
body {
	height: 100%;
}

body {
	color: $color-black;
	@include font-smoothing();
	@include font-regular();
	@include font-size($fs-md);
	min-height: 100vh;
	position: relative;
}

// Scrollbars
@include scrollbar(8px, #ccc);