/**
 * -----------------------------------------------------------------------------
 * File: component/grid
 * -----------------------------------------------------------------------------
 *
 */

.grid-2x1 {
  @include bp-sm() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .span:nth-child(1) {
      order: 2;
    }

    .span:nth-child(2) {
      order: 1;
    }
  }
}
