/**
 * -----------------------------------------------------------------------------
 * File: component/grid
 * -----------------------------------------------------------------------------
 *
 */

.grid-home {
  @include bp-sm() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .span:nth-child(1) {
      order: 2;
    }

    .span:nth-child(2) {
      order: 1;
    }
  }
}

.grid-team {
  margin-bottom: $space-xxl;

  &.is-last {
    margin-bottom: 0;
  }

  .span,
  .span-alumni {
    margin-bottom: $space-lg;
    &.is-last {
      margin-bottom: 0;
    }
  }

  @include bp-sm() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: $space-md;
    grid-row-gap: $space-lg;
    margin-bottom: $space-lg;
    .span:not(.span-alumni) {
      margin-bottom: 0;
    }
  }
}

.grid-contact {
  @include bp-sm() {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0;
  }
}
