/**
 * -----------------------------------------------------------------------------
 * File: layout/sections
 * -----------------------------------------------------------------------------
 */

%section-content {
  padding: $space-sm;
} 

section.content {
  @extend %section-content;
}
