/**
 * -----------------------------------------------------------------------------
 * File: layout/sections
 * -----------------------------------------------------------------------------
 */

%section-content {
} 

section.content {
  @extend %section-content;
  padding-bottom: $footer-height;

  &.content--contact,
  &.content--works,
  &.content--history,
  &.content--discourse,
  &.content--discourse-listing {
    background-color: $color-light;
    min-height: calc(100vh - #{$footer-height});
  }

  &.content--discourse {
    padding-bottom: 0;
  }
}
