/**
 * -----------------------------------------------------------------------------
 * File: layout/sections
 * -----------------------------------------------------------------------------
 */

%section-content {
} 

section.content {
  @extend %section-content;
  padding-bottom: $footer-height;

  &.content--works,
  &.content--discourse {
    background-color: $color-light;
    min-height: calc(100vh - #{$footer-height});
  }
}
