/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black: #000000;
$color-white: #ffffff;
$color-blue:  #9cc2e5;
$color-red:   #c64a3a;

