/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

// Responsiv font sizes
$fs-sm: (
  null: (14px,1.2),
  sm:   (14px,1.2),
  md:   (17px,1.2),
  lg:   (17px,1.2)  
);


$fs-md: (
  null: (17px,1.2),
  sm:   (17px,1.2),
  md:   (25px,1.2),
  lg:   (25px,1.2)  
);

$fs-lg: (
  null: (23px,1.2),
  sm:   (23px,1.2),
  md:   (34px,1.2),
  lg:   (34px,1.2)  
);

$fs-xl: (
  null: (34px,1),
  sm:   (34px,1),
  md:   (59px,1),
  lg:   (59px,1)  
);



