/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black: #000000;
$color-white: #ffffff;
$color-blue:  #435a9e;

