/**
 * -----------------------------------------------------------------------------
 * File: config/colors
 * -----------------------------------------------------------------------------
 */

$color-black: #000000;
$color-white: #ffffff;
$color-blue:  #435a9e;
$color-light: #f6f6f6;
$color-dark:  #4b4b4b

