/**
 * -----------------------------------------------------------------------------
 * File: config/global
 * -----------------------------------------------------------------------------
 *
 * Global settings and variables
 *
 */
 
/* Box shadows
 * -------------------- */

$box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
$box-shadow-sm: 0 0 2px 0 rgba(100, 100, 100, 0.3);

/* Default easing
 * -------------------- */

$easing: cubic-bezier(0.980, 0.310, 0.940, 0.840);

/* Urls
 * -------------------- */
 
$url-images: '../img/';
$url-icons:  '../img/icons/';
$url-svg:    '../img/svg/';

/* Breakpoints
 * -------------------- */

$bp-xs:  500px;
$bp-sm:  960px;
$bp-md: 1200px;
$bp-lg: 1440px;

$breakpoints: (
  sm: $bp-sm,
  md: $bp-md,
  lg: $bp-lg  
);

/* Header
 * -------------------- */

$header-height-sm:  95px;
$header-height-md: 110px;
$header-height-lg: 130px;

$header-height: (
  null:  $header-height-sm,
  sm:    $header-height-sm,
  md:    $header-height-md,
  lg:    $header-height-lg
);

/* Footer
 * -------------------- */
$footer-height: 60px;


/* Grids
 * -------------------- */
$grid-gap-sm: 12px;
$grid-gap-md: 15px;
$grid-gap-lg: 30px;

