/**
 * -----------------------------------------------------------------------------
 * File: config/spaces
 * -----------------------------------------------------------------------------
 */

$space-xxs: 5px;
$space-xs: 10px;
$space-sm: 15px;
$space-md: 20px;
$space-lg: 30px;
$space-xl: 40px;

