/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

// Responsiv font sizes
$fs-xs: (
  null: (12px,1.4),
  sm:   (12px,1.4),
  md:   (14px,1.4),
  lg:   (14px,1.4)  
);

$fs-sm: (
  null: (14px,1.4),
  sm:   (15px,1.4),
  md:   (16px,1.4),
  lg:   (17px,1.4)  
);

$fs-md: (
  null: (17px,1.2),
  sm:   (20px,1.2),
  md:   (22px,1.2),
  lg:   (25px,1.2)  
);

$fs-xl: (
  null: (25px,1.2),
  sm:   (27px,1.2),
  md:   (32px,1.2),
  lg:   (34px,1.2)  
);

$fs-menu: (
  null: (34px,1.2),
  sm:   (20px,1.25),
  md:   (23px,1.172),
  lg:   (28px,1.2)  
);

$fs-menu-sm: (
  null: (20px,1.2),
  sm:   (14px,1.2),
  md:   (15px,1.2),
  lg:   (17px,1.2)  
);

$fs-menu-lg: (
  null: (25px,1.2),
  sm:   (27px,1.2),
  md:   (32px,1.2),
  lg:   (34px,1.2)  
);

$fs-fix-lg: (
  null: (25px,1.2),
  sm:   (25px,1.2),
  md:   (25px,1.2),
  lg:   (25px,1.2)  
);

$fs-fix-md: (
  null: (17px,1.4),
  sm:   (17px,1.4),
  md:   (17px,1.4),
  lg:   (17px,1.4)  
);

