/**
 * -----------------------------------------------------------------------------
 * File: config/typo
 * -----------------------------------------------------------------------------
 *
 *
 */

$fs-md: (
  null: (17px,1.2),
  sm:   (20px,1.2),
  md:   (22px,1.2),
  lg:   (25px,1.2)  
);

$fs-xl: (
  null: (25px,1.2),
  sm:   (27px,1.2),
  md:   (32px,1.2),
  lg:   (34px,1.2)  
);



$fs-nav: (
  null: (34px,1.2),
  sm:   (20px,1.25),
  md:   (23px,1.172),
  lg:   (28px,1.2)  
);

$fs-nav-sm: (
  null: (20px,1.2),
  sm:   (14px,1.2),
  md:   (15px,1.2),
  lg:   (17px,1.2)  
);



$fs-sm: (
  null: (14px,1.35),
  sm:   (14px,1.35),
  md:   (14px,1.35),
  lg:   (14px,1.35)  
);


$fs-lg: (
  null: (21px,1.428),
  sm:   (21px,1.428),
  md:   (24px,1.428),
  lg:   (24px,1.428)  
);
