/**
 * -----------------------------------------------------------------------------
 * File: theme/brand
 * -----------------------------------------------------------------------------
 *
 */

.brand {
  svg {
    display: block;
    height: auto;
    width: 100px;
  }
}