/**
 * -----------------------------------------------------------------------------
 * File: layout/navigation/global
 * -----------------------------------------------------------------------------
 */

%menu {
  background-color: $color-white;
  height: calc(100% - #{$footer-height});
  left: 0;
  overflow: auto;
  padding: $header-height-sm + 20 $space-sm 0 $space-sm;
  position: fixed;
  width: 100%;
  -webkit-overflow-scrolling: touch;

  @include bp-sm() {
    background-color: transparent;
    bottom: auto;
    display: flex;
    @include responsive-prop('height', $header-height);
    left: 190px;
    overflow: hidden;
    padding: $space-sm 0 0 0;
    top: 0;
    transition: transform 0 ease-out;
    transform: translateY(0);
    width: calc(100% - 190px);
    z-index: 200;
  }

  @include bp-md() {
    left: 206px; // logo width + padding (sm)
    width: calc(100% - 206px);
  }

  @include bp-lg() {
    left: 255px;  // logo width + padding (md)
    width: calc(100% - 255px);
  }

  a {
    @extend %ul-sm-hover;
    text-decoration: none !important;
  }

  ul {

    @include bp-sm() {
      margin-left: $space-md;
      position: relative;
      top: -5px;
    }

    @include bp-md() {
      margin-left: $space-xl;
      top: 1px;
    }

    @include bp-lg() {
      margin-left: $space-xxl;
    }

    ul {
      display: none;
      margin-bottom: $space-xxl;
      margin-top: $space-md;

      @include bp-sm() {
        display: none !important;
      }

      &.is-visible {
        display: block;
      }

      a {
        @include font-size($fs-fix-lg);
      }
    }
  }

  li {
    display: block;
    margin-bottom: $space-xxs;

    @include bp-sm() {
      margin-bottom: 0;
    }
  }

  a {
    color: $color-black;
    @include font-size($fs-menu);

    &.is-active,
    &:hover {
      text-decoration: none;
    }
  }

  ul.language {
    li {
      @include font-size($fs-fix-lg);
      @include bp-sm() {
        @include font-size($fs-menu-sm);
      }
    }
    a {
      display: inline;
      @include font-size($fs-fix-lg);

      @include bp-sm() {
        @include font-size($fs-menu-sm);
      }
    }
  }
}