/**
 * -----------------------------------------------------------------------------
 * File: layout/navigation/home
 * -----------------------------------------------------------------------------
 */

nav.menu-home {
  @extend %menu;
  bottom: 0;
  height: 100%;
  padding-bottom: 1px;
  transform: translateY(100%);

  @include bp-sm() {
    bottom: auto;
    height: auto;
    transform: translateY(0);

    ul {
      margin-left: $space-sm;
    }
  }

  @include bp-md() {
    ul {
      margin-left: $space-xl;
    }
  }

  &.is-visible {
    transition: transform .16s ease-out;
    transform: translateY(0);
    z-index: 50;
  }
}