/**
 * -----------------------------------------------------------------------------
 * File: layout/navigation/page
 * -----------------------------------------------------------------------------
 */

nav.menu-page {
  display: none;
  padding: 0 $space-md;
  position: relative;

  @include bp-sm() {
    display: block;
    height: calc(100vh - (#{$header-height-sm} + #{$footer-height} + 100px));
    overflow-y: auto;
    //padding-bottom: $footer-height;
    top: calc(100px + #{$header-height-sm});
    -webkit-overflow-scrolling: touch;
  }

  @include bp-md() {
    height: calc(100vh - (#{$header-height-md} + #{$footer-height} + 100px));
    top: calc(100px + #{$header-height-md});
  }

  @include bp-lg() {
    height: calc(100vh - (#{$header-height-lg} + #{$footer-height} + 100px));
    top: calc(100px + #{$header-height-lg});
  }

  li {
    display: block;
    margin-bottom: 3px;
  }

  label {
    display: block;
  }

  a {
    @extend %ul-sm-hover;
    color: $color-black;
    @include font-size($fs-menu-lg);
  }

}
